.mySwiper {
  width: 90%;
  padding-bottom: 100px;
}

.mySwiper > .swiper-pagination.swiper-pagination-bullets {
  position: unset;
  margin-top: 20px;
}

.mySwiper .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.mySwiper .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--alt-title-color);
}
