@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Yellowtail&display=swap");

:root {
  --text-font: "Open Sans", sans-serif;
  --main-title-font: "Roboto", sans-serif;
  --alt-title-font: "Yellowtail", cursive;
  --accent-color: #efd372;
  --main-bg-color: #fff;
  --alt-bg-color: #f9f8f8;
  --main-title-color: #274c5b;
  --alt-title-color: #7eb693;
  --text-color: #525c60;
  --search-bar-color: #fafafa;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--text-font);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
